body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

section {
  background-color: #f0f0f0;

  padding-top: 80px;
}

/* Section hero, landing page */

.hero {
  background-color: #e1d6ca;
  font-size: 40px;
}

footer {
  background-color: #1d222a;
  color: #fff;
  text-align: center;
  padding: 80px;
}
footer p {
  color: #fff;
}

nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

a:hover {
  color: #e9bd16;
}

h1 {
  color: #fff;
  font-size: 70px;
  text-shadow: #e9bd16 6px 6px;
  margin: 0;
}

h2 {
  font-size: 50px;
  color: #1d222a;
}

p {
  color: #1d222a;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 100;
}

.subtext {
  font-size: 15px;
  padding: 10px 20px;
}

.hero-area {
  /* padding-top: 60px; */
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
}

.button {
  color: #071f3d;
  margin-top: 30px;
  width: 200px;
  height: 55px;
  padding-top: 5px;
  border-radius: 15px;
  background-color: #3e6a85;
  font-size: 30px;
  text-align: center;
}

.button:hover {
  background-color: #969b32;
}

.social {
  margin: 20px;
  fill: #dd4d40;
}
.social:hover {
  fill: #e07cad;
}

.sub-section {
  display: flex;
  justify-content: space-around;
}

.sub-section-projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.headshot-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.information {
  align-self: center;
}

/* Section about the projects */
.project-container {
  display: flex;
  justify-content: space-around;
}

.project-card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 6px 6px rgb(160, 160, 160);
  margin: 10px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  padding-bottom: 20px;
}

h3 {
  color: #1d222a;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: none;
}

ul.show {
  display: block;
}

.project-image {
  margin-top: 25px;
  width: 200px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration-line: none;
  color: #dd7a8b;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Mobile friendliness */

@media only screen and (max-width: 1200px) {
  .project-container,
  #about {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1000px) {
  .project-container,
  #about {
    display: flex;
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
    border: none;
    background-color: transparent;
    color: #446a86;
    font-size: 45px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    margin: 0px;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero {
    padding-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .hero-text {
    margin-left: 0;
    padding: 12px;
    margin: 12px;
  }

  .socials {
    display: flex;
  }

  .information {
    padding-left: 7px;
  }

  footer {
    padding: 20px;
  }

  footer p {
    font-size: 20px;
  }
}
